<mat-tree cdkDropList
          [dataSource]="dataSource"
          [treeControl]="treeControl"
          [trackBy]="trackBy"
          (cdkDropListDropped)="moveWidget($event)">
  <ng-template #dismissibleBackground>
    <div>
      <mat-icon>delete</mat-icon>
    </div>
  </ng-template>

  <!-- Child widget -->
  <mat-tree-node *matTreeNodeDef="let node"
                 [class.selected]="selectedWidget === node.widget"
                 matTreeNodePadding
                 cdkDrag
                 cdkDragLockAxis="y"
                 cdkDragPreviewContainer="parent"
                 cdkDragPreviewClass="fig-tree-preview"
                 [cdkDragData]="node.widget"
                 figDismissible
                 [figDismissibleBackground]="dismissibleBackground"
                 (figDismissibleClick)="selectWidget(node)"
                 (figDismissed)="removeWidget(node.widget)">
    <div class="content">
      <mat-icon [svgIcon]="node.icon"></mat-icon>

      {{ node.name }}
    </div>

    <mat-icon class="draggable" cdkDragHandle>drag_handle</mat-icon>
  </mat-tree-node>

  <!-- Container widget -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                 [class.selected]="selectedWidget === node.widget"
                 matTreeNodePadding
                 cdkDrag
                 cdkDragLockAxis="y"
                 cdkDragPreviewContainer="parent"
                 cdkDragPreviewClass="fig-tree-preview"
                 [cdkDragData]="node.widget"
                 figDismissible
                 [figDismissibleBackground]="dismissibleBackground"
                 (figDismissibleClick)="selectWidget(node)"
                 (figDismissed)="removeWidget(node.widget)">
    <div class="content">
      <mat-icon [svgIcon]="node.icon"></mat-icon>

      {{ node.name }}
    </div>

    <mat-icon class="draggable" cdkDragHandle>drag_handle</mat-icon>
  </mat-tree-node>
</mat-tree>

<mat-divider></mat-divider>

<fig-widget-settings [widget]="selectedWidget"></fig-widget-settings>
