mat-tree {
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(65% - 1px);

  & .invisible {
    display: none;
  }

  & .mat-tree-node {
    padding-left: 12px;

    &:hover {
      cursor: pointer!important;
    }

    & mat-icon {
      margin-right: 12px;
    }
  }

  & div[role=group] > .mat-tree-node {
    margin-left: 23px;
  }
}
