<mat-tree id="fig-tree-drop"
          [dataSource]="dataSource"
          [treeControl]="treeControl"
          [trackBy]="trackBy">
  <ng-template #dismissible>
    <div>
      <mat-icon>delete</mat-icon>
    </div>
  </ng-template>

  <mat-tree-node *matTreeNodeDef="let node"
                 [class.selected]="selectedWidget === node.widget"
                 [class.container]="node.isContainer"
                 matTreeNodePadding
                 figDrag
                 [figDragData]="node.widget.uuid"
                 figDrop
                 [figDropData]="node.widget.uuid"
                 (figDropped)="dropWidget($event)"
                 figDismissible
                 [figDismissibleBackground]="dismissible"
                 (figDismissibleClick)="selectWidget(node)"
                 (figDismissed)="removeWidget(node.widget)">
    <div class="content">
      <mat-icon [svgIcon]="node.icon"></mat-icon>

      <div>{{ node.name }}</div>
    </div>

    <mat-icon class="draggable" figDragHandle>drag_handle</mat-icon>
  </mat-tree-node>
</mat-tree>

<div id="fig-drop"
     figDrop
     (figDropped)="dropWidget($event)"></div>
