<form>
  <fig-string-field [field]="getField('label')"
                    (update)="updateWidget()"/>

  <fig-size-field [field]="getField('size')"/>

  <fig-enum-field [field]="getField('dataType')"/>

  <div class="row">
    <fig-number-field [field]="getField('valueMin')"
                      [step]="step"/>

    <fig-number-field [field]="getField('valueMax')"
                      [step]="step"/>
  </div>

  @if (!isInteger(widget.dataType)) {
    <div class="row">
      <mat-form-field>
        <mat-label>Precision</mat-label>
        <input matInput
               type="number"
               min="1"
               max="17"
               step="1"
               [formControl]="precision" />
      </mat-form-field>

      <fig-string-field [field]="getField('format')"
                        readonly/>
    </div>
  }

  <fig-number-field [field]="getField('value')"
                    [min]="this.widget.valueMin"
                    [max]="this.widget.valueMax"
                    [step]="step"/>

  <fig-bool-field [field]="getField('tooltip')"/>
</form>
