<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Data Type</mat-label>
    <mat-select formControlName="dataType">
      <mat-option [value]="FIGVerticalSliderType.int">int</mat-option>
      <mat-option [value]="FIGVerticalSliderType.float">float</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Label</mat-label>
    <span class="prefix" matPrefix>##</span>
    <input matInput type="text" formControlName="label" />
  </mat-form-field>

  <div class="row">
    <mat-form-field>
      <mat-label>Width</mat-label>
      <input matInput
             type="number"
             formControlName="width" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Height</mat-label>
      <input matInput
             type="number"
             formControlName="height" />
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput
           type="number"
           formControlName="value" />
  </mat-form-field>

  <div class="row">
    <mat-form-field>
      <mat-label>Value min</mat-label>
      <input matInput
             type="number"
             formControlName="valueMin" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Value max</mat-label>
      <input matInput
             type="number"
             formControlName="valueMax" />
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Format</mat-label>
    <input matInput
           type="text"
           formControlName="format" />
  </mat-form-field>

  <div class="mat-form-field">
    <mat-label>Tooltip</mat-label>
    <mat-slide-toggle color="primary"
                      formControlName="tooltip"></mat-slide-toggle>
  </div>
</form>
