@if (widget !== undefined) {
  <div class="header">
    <mat-icon [svgIcon]="FIGWidgetType[widget.type]"></mat-icon>
    {{ widgetTitle }}
  </div>

  @switch (widget.type) {
    <!-- Layouts -->
    @case (FIGWidgetType.window) {
      <fig-window-properties class="properties"
                             [widget]="widget!"
                             (update)="update.emit($event)"></fig-window-properties>
    }
    @case (FIGWidgetType.collapsingHeader) {
      <fig-collapsing-header-properties class="properties"
                                        [widget]="widget!"
                                        (update)="update.emit($event)"></fig-collapsing-header-properties>
    }
    <!-- Basics -->
    @case (FIGWidgetType.text) {
      <fig-text-properties class="properties"
                           [widget]="widget!"
                           (update)="update.emit($event)"></fig-text-properties>
    }
    @case (FIGWidgetType.button) {
      <fig-button-properties class="properties"
                             [widget]="widget!"
                             (update)="update.emit($event)"></fig-button-properties>
    }
    @case (FIGWidgetType.progressBar) {
      <fig-progress-bar-properties class="properties"
                                   [widget]="widget!"
                                   (update)="update.emit($event)"></fig-progress-bar-properties>
    }
    <!-- Forms / Inputs -->
    @case (FIGWidgetType.label) {
      <fig-label-properties class="properties"
                            [widget]="widget!"
                            (update)="update.emit($event)"></fig-label-properties>
    }
    @case (FIGWidgetType.inputText) {
      <fig-input-text-properties class="properties"
                                 [widget]="widget!"
                                 (update)="update.emit($event)"></fig-input-text-properties>
    }
    @case (FIGWidgetType.inputTextarea) {
      <fig-input-textarea-properties class="properties"
                                     [widget]="widget!"
                                     (update)="update.emit($event)"></fig-input-textarea-properties>
    }
    @case (FIGWidgetType.inputNumber) {
      <fig-input-number-properties class="properties"
                                   [widget]="widget!"
                                   (update)="update.emit($event)"></fig-input-number-properties>
    }
    @case (FIGWidgetType.inputColorEdit) {
      <fig-input-color-edit-properties class="properties"
                                       [widget]="widget!"
                                       (update)="update.emit($event)"></fig-input-color-edit-properties>
    }
    @case (FIGWidgetType.listbox) {
      <fig-listbox-properties class="properties"
                              [widget]="widget!"
                              (update)="update.emit($event)"></fig-listbox-properties>
    }
    @case (FIGWidgetType.checkbox) {
      <fig-checkbox-properties class="properties"
                               [widget]="widget!"
                               (update)="update.emit($event)"></fig-checkbox-properties>
    }
    @case (FIGWidgetType.radio) {
      <fig-radio-properties class="properties"
                            [widget]="widget!"
                            (update)="update.emit($event)"></fig-radio-properties>
    }
    @case (FIGWidgetType.combo) {
      <fig-combo-properties class="properties"
                            [widget]="widget!"
                            (update)="update.emit($event)"></fig-combo-properties>
    }
  }
}
