@if (widget !== undefined) {
  <div class="header">
    <div class="title">
      <mat-icon [svgIcon]="FIGWidgetType[widget.type]"></mat-icon>
      {{ widgetTitle }}
    </div>

    @if (widgetWarning !== undefined) {
      <div class="expand"></div>

      <mat-icon [class]="widgetWarning" [matTooltip]="widgetTooltip">
        warning
      </mat-icon>
    }
  </div>

  @switch (widget.type) {
    <!-- Layouts -->
    @case (FIGWidgetType.window) {
      <fig-window-properties class="properties"
                             [widget]="widget"
                             (update)="update.emit($event)"></fig-window-properties>
    }
    @case (FIGWidgetType.childWindow) {
      <fig-child-window-properties class="properties"
                                   [widget]="widget"
                                   (update)="update.emit($event)"></fig-child-window-properties>
    }
    @case (FIGWidgetType.modal) {
      <fig-modal-properties class="properties"
                            [widget]="widget"
                            (update)="update.emit($event)"></fig-modal-properties>
    }
    @case (FIGWidgetType.collapsingHeader) {
      <fig-collapsing-header-properties class="properties"
                                        [widget]="widget"
                                        (update)="update.emit($event)"></fig-collapsing-header-properties>
    }
    @case (FIGWidgetType.tabBar) {
      <fig-tab-bar-properties class="properties"
                              [widget]="widget"
                              (update)="update.emit($event)"></fig-tab-bar-properties>
    }
    @case (FIGWidgetType.tabItem) {
      <fig-tab-item-properties class="properties"
                               [widget]="widget"
                               (update)="update.emit($event)"></fig-tab-item-properties>
    }
    @case (FIGWidgetType.table) {
      <fig-table-properties class="properties"
                            [widget]="widget"
                            (update)="update.emit($event)"></fig-table-properties>
    }
    @case (FIGWidgetType.sameLine) {
      <fig-same-line-properties class="properties"
                                [widget]="widget"
                                (update)="update.emit($event)"></fig-same-line-properties>
    }
    @case (FIGWidgetType.dummy) {
      <fig-dummy-properties class="properties"
                            [widget]="widget"
                            (update)="update.emit($event)"></fig-dummy-properties>
    }
    <!-- Basics -->
    @case (FIGWidgetType.text) {
      <fig-text-properties class="properties"
                           [widget]="widget"
                           (update)="update.emit($event)"></fig-text-properties>
    }
    @case (FIGWidgetType.button) {
      <fig-button-properties class="properties"
                             [widget]="widget"
                             (update)="update.emit($event)"></fig-button-properties>
    }
    @case (FIGWidgetType.progressBar) {
      <fig-progress-bar-properties class="properties"
                                   [widget]="widget"
                                   (update)="update.emit($event)"></fig-progress-bar-properties>
    }
    @case (FIGWidgetType.plot) {
      <fig-plot-properties class="properties"
                           [widget]="widget"
                           (update)="update.emit($event)"></fig-plot-properties>
    }
    @case (FIGWidgetType.treeNode) {
      <fig-tree-node-properties class="properties"
                                [widget]="widget"
                                (update)="update.emit($event)"></fig-tree-node-properties>
    }
    @case (FIGWidgetType.selectable) {
      <fig-selectable-properties class="properties"
                                 [widget]="widget"
                                 (update)="update.emit($event)"></fig-selectable-properties>
    }
    @case (FIGWidgetType.popup) {
      <fig-popup-properties class="properties"
                            [widget]="widget"
                            (update)="update.emit($event)"></fig-popup-properties>
    }
    @case (FIGWidgetType.menu) {
      <fig-menu-properties class="properties"
                           [widget]="widget"
                           (update)="update.emit($event)"></fig-menu-properties>
    }
    @case (FIGWidgetType.menuItem) {
      <fig-menu-item-properties class="properties"
                                [widget]="widget"
                                (update)="update.emit($event)"></fig-menu-item-properties>
    }
    <!-- Forms / Inputs -->
    @case (FIGWidgetType.label) {
      <fig-label-properties class="properties"
                            [widget]="widget"
                            (update)="update.emit($event)"></fig-label-properties>
    }
    @case (FIGWidgetType.inputText) {
      <fig-input-text-properties class="properties"
                                 [widget]="widget"
                                 (update)="update.emit($event)"></fig-input-text-properties>
    }
    @case (FIGWidgetType.inputTextarea) {
      <fig-input-textarea-properties class="properties"
                                     [widget]="widget"
                                     (update)="update.emit($event)"></fig-input-textarea-properties>
    }
    @case (FIGWidgetType.inputNumber) {
      <fig-input-number-properties class="properties"
                                   [widget]="widget"
                                   (update)="update.emit($event)"></fig-input-number-properties>
    }
    @case (FIGWidgetType.inputColorEdit) {
      <fig-input-color-edit-properties class="properties"
                                       [widget]="widget"
                                       (update)="update.emit($event)"></fig-input-color-edit-properties>
    }
    @case (FIGWidgetType.verticalSlider) {
      <fig-vertical-slider-properties class="properties"
                                      [widget]="widget"
                                      (update)="update.emit($event)"></fig-vertical-slider-properties>
    }
    @case (FIGWidgetType.slider) {
      <fig-slider-properties class="properties"
                             [widget]="widget"
                             (update)="update.emit($event)"></fig-slider-properties>
    }
    @case (FIGWidgetType.listbox) {
      <fig-listbox-properties class="properties"
                              [widget]="widget"
                              (update)="update.emit($event)"></fig-listbox-properties>
    }
    @case (FIGWidgetType.checkbox) {
      <fig-checkbox-properties class="properties"
                               [widget]="widget"
                               (update)="update.emit($event)"></fig-checkbox-properties>
    }
    @case (FIGWidgetType.radio) {
      <fig-radio-properties class="properties"
                            [widget]="widget"
                            (update)="update.emit($event)"></fig-radio-properties>
    }
    @case (FIGWidgetType.combo) {
      <fig-combo-properties class="properties"
                            [widget]="widget"
                            (update)="update.emit($event)"></fig-combo-properties>
    }
    <!-- Blocs -->
    @case (FIGWidgetType.blocFor) {
      <fig-bloc-for-properties class="properties"
                               [widget]="widget"
                               (update)="update.emit($event)"></fig-bloc-for-properties>
    }
  }
}
