<form>
  <fig-string-field [field]="getField('label')"
                    (update)="updateWidget()" />

  <fig-string-field [field]="getField('tooltip')" />

  <fig-enum-field [field]="getField('dataType')" />

  @if (!isArray) {
    <div class="row">
      <fig-integer-field [field]="getField('step')" />

      <fig-integer-field [field]="getField('stepFast')" />
    </div>
  }

  @if (!isInteger(widget.dataType)) {
    <div class="row">
      <mat-form-field>
        <mat-label>Precision</mat-label>
        <input matInput
               type="number"
               min="1"
               max="17"
               step="1"
               [formControl]="precision" />
      </mat-form-field>

      <fig-string-field [field]="getField('format')"
                        readonly/>
    </div>
  }

  <fig-number4-field [field]="getField('value')"
                     [step]="step"
                     [size]="getArraySize(widget.dataType)"/>

  <!-- TODO: add support to toggle scientific notation -->
</form>
