<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Text</mat-label>
    <input matInput type="text" formControlName="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hint</mat-label>
    <input matInput type="text" formControlName="hint" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tooltip</mat-label>
    <input matInput
           type="text"
           formControlName="tooltip" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput type="text" formControlName="value" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Buffer size</mat-label>
    <input matInput type="number" formControlName="bufferSize" />
  </mat-form-field>

</form>
