@mixin form-field-theme($theme) {
  mat-form-field {
    width: 100%;
  }

  .mat-form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-bottom: 30px;
  }
}

@mixin form-field-color($theme) {

}
