@use 'sass:map';
@use '@angular/material' as mat;

@mixin list-theme($theme) {
  $hover: grey;

  mat-list-item {
    &:hover {
      cursor: pointer;

      background-color: $hover;
    }
  }
}

@mixin list-color($theme) {
  mat-list-item {
    &:hover {
      cursor: pointer;
    }
  }
}
