@use 'sass:map';
@use '@angular/material' as mat;

.mat-mdc-menu-content {
  @include mat.menu-overrides((
    item-leading-spacing: 0,
    item-trailing-spacing: 0,
    divider-top-spacing: 0,
    divider-bottom-spacing: 0
  ));

  padding: 0!important;

  & .mat-mdc-menu-item {
    & .mat-mdc-menu-item-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.action {
      & button:last-child {
        margin-left: 32px;
      }
    }

    &.hint {
      & span:last-child {
        margin-left: 32px;

        color: var(--mat-sys-outline);
      }
    }
  }
}
