<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Label</mat-label>
    <span class="prefix" matPrefix>##</span>
    <input matInput type="text" formControlName="label" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Columns</mat-label>
    <input matInput type="number" step="1" formControlName="columns" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Flags</mat-label>
    <mat-select multiple formControlName="flags">
      @for (flag of flags; track flag.value) {
        <mat-option [value]="flag.value">{{ flag.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
