@use 'sass:map';
@use '@angular/material' as mat;
@use './mixins' as *;

@include mat.core();

$light-primary: mat.define-palette(mat.$blue-palette);
$light-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Light theme
@include mat-component-themes($light-theme);
@include fig-component-themes($light-theme);
