<form>
  <fig-string-field [field]="getField('label')"
                    (update)="updateWidget()"></fig-string-field>

  <fig-size-field [field]="getField('minSize')"
                  widthLabel="Min width"
                  heightLabel="Min height"></fig-size-field>

  <div class="mat-form-field">
    <mat-label>Force size</mat-label>
    <mat-slide-toggle color="primary"
                      [formControl]="forceSize"></mat-slide-toggle>
  </div>

  <fig-size-field [field]="getField('size')"></fig-size-field>

  <fig-flags-field [field]="getField('sizeFlags')"></fig-flags-field>

  <fig-flags-field [field]="getField('flags')"></fig-flags-field>
</form>
