<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput type="text" formControlName="label" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tooltip</mat-label>
    <input matInput
           type="text"
           formControlName="tooltip" />
  </mat-form-field>

  <div class="mat-form-field">
    <mat-label>Fill</mat-label>
    <mat-slide-toggle color="primary"
                      formControlName="isFill"></mat-slide-toggle>
  </div>

  <div class="mat-form-field">
    <mat-label>Small</mat-label>
    <mat-slide-toggle color="primary"
                      formControlName="isSmall"></mat-slide-toggle>
  </div>

  <mat-form-field>
    <mat-label>Arrow</mat-label>
    <mat-select formControlName="arrow">
      <mat-option [value]="FIGArrowDirection.none">None</mat-option>
      <mat-option [value]="FIGArrowDirection.left">Left</mat-option>
      <mat-option [value]="FIGArrowDirection.right">Right</mat-option>
      <mat-option [value]="FIGArrowDirection.up">Up</mat-option>
      <mat-option [value]="FIGArrowDirection.down">Down</mat-option>
    </mat-select>
  </mat-form-field>
</form>
