<svg xmlns="http://www.w3.org/2000/svg">
  <circle r="60%" style="fill: #c7abcc;"></circle>
  <circle r="33%" cy="100vh" style="fill: #734c76"></circle>
  <circle r="60%" cx="100vw" style="fill: #752b5b"></circle>
  <circle r="33%" cx="100vw" cy="100vh" style="fill: #c7abcc;"></circle>
  <circle r="42%" cx="50vw" cy="50vh" style="fill: #303030;"></circle>
</svg>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>drag_indicator</mat-icon>
        Drag and Drop
      </h1>

      <p>
        Create widgets in your document by using drag and drop. Drag a widget from the toolbar and drop it into the
        tree. You can insert widgets above, below, or inside container widgets. Additionally, you can move widgets
        around to reorder them.
      </p>
    </div>

    <div>
      <video #step01
             class="feature-preview"
             autoplay muted loop playsinline
             preload="auto">
        <source src="./assets/readme/step01.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>menu_open</mat-icon>
        More actions
      </h1>

      <p>
        Swipe a widget to the right to remove it. Right-click on a widget to show more actions. It includes duplicating
        a widget. You can also use shortcuts to quickly perform actions on a selected widget.
      </p>
    </div>

    <div>
      <video #step02
             class="feature-preview"
             muted loop playsinline
             preload="none" poster="./assets/readme/step02-placeholder.png">
        <source src="./assets/readme/step02.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>navigation</mat-icon>
        Navigation and focus
      </h1>

      <p>
        Click on a widget in the tree to focus it in the preview, and vice versa. Use CTRL + click on a widget in the
        tree to scroll to it in the preview, and vice versa.
      </p>
    </div>

    <div>
      <video #step03
             class="feature-preview"
             muted loop playsinline
             preload="none" poster="./assets/readme/step03-placeholder.png">
        <source src="./assets/readme/step03.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>data_object</mat-icon>
        Properties
      </h1>

      <p>
        Provides live updates for widget properties. Select a widget in the tree or in the preview to edit its
        properties in real-time.
      </p>
    </div>

    <div>
      <video #step04
             class="feature-preview"
             muted loop playsinline
             preload="none" poster="./assets/readme/step04-placeholder.png">
        <source src="./assets/readme/step04.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>format_color_fill</mat-icon>
        Templates
      </h1>

      <p>
        Define ImGui styles to replicate the theme used in your project. Customize fonts, sizes, colors, and embed
        custom fonts in documents. Export templates as files to share with your team, and load a template to update the
        styles of the current document.
      </p>
    </div>

    <div>
      <video #step05
             class="feature-preview"
             muted loop playsinline
             preload="none" poster="./assets/readme/step05-placeholder.png">
        <source src="./assets/readme/step05.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>widgets</mat-icon>
        Widgets
      </h1>

      <p>
        Includes support for almost all ImGui widgets. It provides custom bloc widgets to quickly prototype a layout.
        For example, you can use a for-bloc widget to repeat widgets. These bloc widgets are also generated in the code.
      </p>
    </div>

    <div>
      <div class="feature-preview grid">
        @for (widget of widgets; track widget.type) {
          <mat-icon [svgIcon]="FIGWidgetType[widget.type]"
                    [matTooltip]="widget.title"></mat-icon>
        }
      </div>
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>language</mat-icon>
        Languages
      </h1>

      <p>
        Generate ready-to-use code based on the language binding you are using. You can generate code from a widget by
        right-clicking on it. Alternatively, you can use CTRL + G on a selected widget.
      </p>

      <p>
        Widgets not supported by a language binding are <span class="not-supported">highlighted</span>. Partially
        supported widgets <span class="legacy-fallback">fallback to a legacy</span> API.
      </p>
    </div>

    <div>
      <div class="feature-preview grid">
        <mat-icon class="logo"
                  svgIcon="logo-lua"
                  matTooltip="Lua"></mat-icon>
      </div>
      <!--
      <video #step06
             class="feature-preview"
             muted loop playsinline
             preload="none" poster="./assets/readme/step06-placeholder.png">
        <source src="./assets/readme/step06.mp4" type="video/mp4" />
      </video>
      -->
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description center">
      <h1>
        <mat-icon>information</mat-icon>
        Compatibility
      </h1>

      <p>
        Fellow ImGui currently supports Dear ImGui v1.86 through
        <a href="https://github.com/flyover/imgui-js">imgui-js</a>. However, not all properties and widgets are
        implemented at this time.
      </p>
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description center">
      <h1>
        <mat-icon svgIcon="license"></mat-icon>
        License
      </h1>

      <p>
        This project is open-source and is licensed under the
        <a href="https://github.com/poirierlouis/FellowImGui/blob/master/LICENSE" target="_blank">MIT license</a>.
      </p>

      <p>
        The icons are sourced from <a href="https://pictogrammers.com/" target="_blank">Pictoprogrammers</a> and are
        licensed under the <a href="https://pictogrammers.com/docs/general/license/" target="_blank">
        Apache License 2.0</a>. Some icons were custom-made, inspired by those from Pictoprogrammers, and are also
        licensed under the same terms.
      </p>
    </div>
  </div>
</article>

<button mat-fab
        class="btn-editor"
        color="primary"
        routerLink="/editor"
        matTooltip="Open editor">
  <mat-icon>edit</mat-icon>
</button>
