<svg xmlns="http://www.w3.org/2000/svg">
  <circle r="60%" style="fill: #c7abcc;"></circle>
  <circle r="33%" cy="100vh" style="fill: #734c76"></circle>
  <circle r="60%" cx="100vw" style="fill: #752b5b"></circle>
  <circle r="33%" cx="100vw" cy="100vh" style="fill: #c7abcc;"></circle>
  <circle r="42%" cx="50vw" cy="50vh" style="fill: #303030;"></circle>
</svg>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>drag_indicator</mat-icon>
        Drag and Drop
      </h1>

      <p>
        Create widgets in your document using drag and drop. Drag a widget from the toolbar and drop it in the tree.
        Insert widgets above and below widgets, or inside container widgets. You can move widgets around to reorder them.
      </p>
    </div>

    <div>
      <img src="./assets/readme/step01.gif"
           loading="lazy"
           alt="Drag a window widget and drop it in the tree view.">
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>menu_open</mat-icon>
        Context menu
      </h1>

      <p>
        Swipe a widget to the right to remove it. Right-click on a widget to show more actions. It includes duplicating a
        widget. You can use shortcuts to quickly execute an action on a selected widget.
      </p>
    </div>

    <div>
      <img src="./assets/readme/step02.gif"
           loading="lazy"
           alt="Drag a window widget and drop it in the tree view.">
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>navigation</mat-icon>
        Navigation and Focus
      </h1>

      <p>
        Click on a widget in the tree to focus it in the preview, and vice-versa. Use CTRL + click on a widget in the
        tree to scroll to in the preview, and vice-versa.
      </p>
    </div>

    <div>
      <img src="./assets/readme/step03.gif"
           loading="lazy"
           alt="Navigate and focus widgets between the tree and the preview.">
    </div>
  </div>
</article>

<article>
  <div class="banner">
    <div class="description">
      <h1>
        <mat-icon>data_object</mat-icon>
        Properties
      </h1>

      <p>
        Live update of properties of widgets. Select a widget in the tree or in the preview to edit its properties.
      </p>
    </div>

    <div>
      <img src="./assets/readme/step04.gif"
           loading="lazy"
           alt="Live update of properties of widgets.">
    </div>
  </div>
</article>
