:host {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
}

.logo {
  height: 40px;
  margin-right: 12px;
  padding: 4px;

  background-color: var(--mat-sys-on-secondary-container);
  border-radius: 50%;
}

.version {
  margin-left: 24px;
}

.space {
  display: flex;
  flex: 1;
}
