<mat-toolbar>
  <img class="logo"
       ngSrc="./assets/logo/logo.svg"
       alt="Logo of FellowImGui, a fig"
       width="40"
       height="40"/>
  <span>Fellow ImGui</span>

  <mat-chip class="version"
            matTooltip="alpha">0.1.6</mat-chip>

  <div class="space"></div>

  <button data-testid="btn-github"
          mat-icon-button
          matTooltip="Repository"
          (click)="openGitHub()">
    <mat-icon svgIcon="logo-github"></mat-icon>
  </button>
</mat-toolbar>

<router-outlet />
