<div class="header">
  <mat-icon svgIcon="text"></mat-icon>
  Text
</div>

<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Text</mat-label>
    <input matInput
           type="text"
           formControlName="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tooltip</mat-label>
    <input matInput
           type="text"
           formControlName="tooltip" />
  </mat-form-field>

  <div class="mat-form-field">
    <mat-label>Color</mat-label>
    <ngx-colors formControlName="color"
                ngx-colors-trigger
                format="rgba"
                [palette]="[]"
                (open)="onColorPickerOpened()"></ngx-colors>
  </div>

  <div class="mat-form-field">
    <mat-label>Is disabled</mat-label>
    <mat-slide-toggle color="primary"
                      formControlName="isDisabled"></mat-slide-toggle>
  </div>

  <div class="mat-form-field">
    <mat-label>Is wrapped</mat-label>
    <mat-slide-toggle color="primary"
                      formControlName="isWrapped"></mat-slide-toggle>
  </div>

  <div class="mat-form-field">
    <mat-label>Bullet</mat-label>
    <mat-slide-toggle color="primary"
                      formControlName="hasBullet"></mat-slide-toggle>
  </div>
</form>
