<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput
           type="text"
           formControlName="label" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tooltip</mat-label>
    <input matInput
           type="text"
           formControlName="tooltip" />
  </mat-form-field>

  <div class="mat-form-field">
    <mat-label>Checked</mat-label>
    <mat-slide-toggle color="primary" formControlName="isChecked"></mat-slide-toggle>
  </div>
</form>
