:host {
  display: flex;
  margin: 18px 0;
  padding: 0 5px 0 8px;
}

form {
  width: 100%;
}

.mat-form-field {
  align-items: baseline;
  padding-top: 12px;

  & button {
    top: 7px;
    margin-left: 12px;
  }
}
