@use '@angular/material' as mat;

.dismissible-container {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 12px;

  color: var(--mat-sys-on-error-container);
  background-color: var(--mat-sys-error-container);
}
