@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

$palette: mat.$magenta-palette;
$primary-color: map.get($palette, 50);

fig-editor {
  & .widgets {
    & mat-icon {
      &.warning {
        color: var(--fig-error);
      }

      &.fallback {
        color: var(--fig-warning);
      }
    }
  }

  & .panels {
    & .slider {
      &:hover {
        border-right-color: var(--mat-sys-primary-container);
      }
    }
  }

  & .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
}

#fig-drag-placeholder {
  visibility: hidden;
  position: relative;
  pointer-events: none;
  max-width: 360px;
  height: 2px;
  background-color: var(--mat-sys-primary-container);

  &[data-direction="before"] {
    visibility: visible;
    top: 0;
    margin-top: -2px;
  }

  &[data-direction="after"] {
    visibility: visible;
    margin-top: -2px;
  }

  &[data-direction="insert"] {
    visibility: visible;
    height: 38px;
    margin-top: -38px;
    box-sizing: border-box;
    border: 2px solid var(--mat-sys-primary-container);
    background-color: color.change($primary-color, $alpha: 0.1);
  }
}
