@mixin properties-theme($theme) {
  fig-properties {
    .properties {
      & .header {
        display: flex;
        align-items: center;
        margin: 12px 12px 0;

        & mat-icon {
          margin-right: 12px;
        }
      }

      & form {
        padding: 24px 12px 12px;

        & .row {
          display: flex;
          gap: 12px;
        }
      }
    }
  }
}

@mixin properties-color($theme) {

}
