@use '@angular/material' as mat;

@mixin properties-theme($theme) {
  $info: mat.get-color-from-palette(mat.$blue-palette, 500);
  $warning: mat.get-color-from-palette(mat.$amber-palette, 700);
  $fallback: mat.get-color-from-palette(mat.$amber-palette, 500);

  fig-properties {
    & .header {
      display: flex;
      align-items: center;
      margin: 12px 12px 0;

      & .title {
        display: flex;
        align-items: center;

        & mat-icon {
          margin-right: 12px;
        }
      }

      & .expand {
        display: flex;
        flex: 1;
      }

      & .warning {
        color: $warning;
      }

      & .fallback {
        color: $fallback;
      }
    }

    .properties {
      & form {
        padding: 24px 12px 12px;

        & .row {
          display: flex;
          gap: 12px;
        }

        & .prefix {
          margin-left: 15px;
        }

        & mat-slide-toggle {
          margin-right: 6px;
        }
      }
    }

    & .message {
      margin-top: 0;

      font-family: "Roboto Light", Roboto, "Helvetica Neue", sans-serif;
      text-align: justify;

      &.info {
        padding: 12px;

        border-left: 2px solid $info;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@mixin properties-color($theme) {

}
