@use 'sass:map';
@use '@angular/material' as mat;

@mixin tree-theme($theme) {
  $primary: mat.get-theme-color($theme, primary, 700);
  $warning: mat.get-theme-color($theme, warn, 500);
  $fallback: mat.m2-get-color-from-palette(mat.$m2-amber-palette, 700);
  $hover: grey;

  fig-tree {
    mat-tree {
      background-color: transparent;

      & .mat-tree-node {
        // NOTE: fix for webkit browsers (Chrome 129.0.6668.90), otherwise user
        // cannot drag widgets in the tree.
        -webkit-user-drag: element!important;
        min-height: 38px;

        &:hover,
        &.dragged {
          background-color: $hover;
        }

        &.selected {
          background-color: $primary;
        }

        /*
        &[aria-level="2"] { padding-left: 20px; }
        &[aria-level="3"] { padding-left: 40px; }
        &[aria-level="4"] { padding-left: 60px; }
        &[aria-level="5"] { padding-left: 80px; }
        &[aria-level="6"] { padding-left: 100px; }
        &[aria-level="7"] { padding-left: 120px; }
        &[aria-level="8"] { padding-left: 140px; }
        &[aria-level="9"] { padding-left: 160px; }
        &[aria-level="10"] { padding-left: 180px; }
        */

        & .content {
          &.warning {
            & mat-icon:first-of-type {
              color: $warning;
            }
          }

          &.fallback {
            & mat-icon:first-of-type {
              color: $fallback;
            }
          }
        }
      }
    }
  }
}

@mixin tree-color($theme) {
  fig-tree {
    mat-tree {
      background-color: transparent;
    }
  }
}
