@use 'sass:map';
@use '@angular/material' as mat;

fig-tree {
  mat-tree {
    @include mat.tree-overrides((
      container-background-color: var(--mat-sys-surface-container)
    ));

    background-color: transparent;

    & .mat-tree-node {
      // NOTE: fix for webkit browsers (Chrome 129.0.6668.90), otherwise user
      // cannot drag widgets in the tree.
      -webkit-user-drag: element!important;
      min-height: 38px;

      &:hover,
      &.dragged {
        background-color: var(--mat-sys-secondary-container);
      }

      &.selected {
        background-color: var(--mat-sys-primary-container);
      }

      & .content {
        &.warning {
          & mat-icon:first-of-type {
            color: var(--fig-error);
          }
        }

        &.fallback {
          & mat-icon:first-of-type {
            color: var(--fig-warning);
          }
        }
      }
    }
  }
}
