@use 'sass:map';
@use '@angular/material' as mat;

@mixin tree-theme($theme) {
  $primary: mat.get-theme-color($theme, primary, 700);
  $hover: grey;

  fig-tree {
    mat-tree {
      & .mat-tree-node {
        &:hover {
          background-color: $hover;
        }

        &.selected {
          background-color: $primary;
        }
      }

      & div[role=group] > .mat-tree-node {
        border-left: 1px solid $hover;

        &:hover {
          border-left-color: transparent;
        }

        &.selected {
          border-left-color: $primary;
        }
      }
    }
  }
}

@mixin tree-color($theme) {
  $primary: mat.get-theme-color($theme, primary, 700);

  fig-tree {
    mat-tree {
      & .mat-tree-node {
        &.selected {
          background-color: $primary;
        }
      }

      & div[role=group] > .mat-tree-node {
        &.selected {
          border-left-color: $primary;
        }
      }
    }
  }
}
