<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput
           type="text"
           formControlName="label" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tooltip</mat-label>
    <input matInput
           type="text"
           formControlName="tooltip" />
  </mat-form-field>

  <div class="mat-form-field thumb">
    <mat-label>Value</mat-label>
    <mat-slider min="0" max="100" step="1" discrete [displayWith]="formatPercentage">
      <input matSliderThumb formControlName="value">
    </mat-slider>
  </div>

  <div class="mat-form-field">
    <mat-label>Fill</mat-label>
    <mat-slide-toggle color="primary"
                      formControlName="isFill"></mat-slide-toggle>
  </div>
</form>
