<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-list>
      <mat-list-item>Window</mat-list-item>
      <mat-list-item>Button</mat-list-item>
      <mat-list-item>Text</mat-list-item>
      <mat-list-item>ListBox</mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <fig-canvas [root]="root"></fig-canvas>
  </mat-drawer-content>

  <mat-drawer mode="side" position="end" opened>
    <fig-tree [root]="root"></fig-tree>
  </mat-drawer>
</mat-drawer-container>
