:host {
  display: flex;
  flex-flow: column;
  height: calc(100% - 64px);
}

.widget-bar {
  display: flex;
  padding: 0 24px;

  border-bottom: 1px solid var(--mat-divider-color);

  & .widgets {
    display: flex;

    & div {
      display: flex;
      align-items: center;
      height: inherit;
    }

    & mat-divider {
      height: 100%;
      margin: 0 12px;
    }

    & mat-icon {
      cursor: grab;

      margin: 0 12px;

      transform: none!important;
    }
  }

  & .expand {
    display: flex;
    flex: 1;
  }

  & .actions {
    display: flex;
  }
}

.fig-widget-preview,
.fig-widget-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 48px;

  &:hover {
    cursor: pointer!important;
  }

  & .content {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }

  & mat-icon {
    margin-right: 12px;
  }
}

.panels {
  display: flex;
  flex: 1;
  height: calc(100% - 64px);

  & fig-tree {
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    width: 360px;
  }

  & .slider {
    cursor: col-resize;
    padding-left: 3px;
  }

  & fig-canvas {
    background-color: #738c99;
  }

  & fig-properties {
    overflow-y: auto;
    width: 360px;
    height: 100%;
  }
}
