<div id="fig-tree-factory"
     class="widget-bar">
  <div class="actions">
    <button mat-icon-button
            matTooltip="Open"
            (click)="onOpen()">
      <mat-icon>folder</mat-icon>
      <input #openPicker
             type="file"
             accept=".fig"
             hidden
             (change)="open($event)"/>
    </button>

    <button mat-icon-button
            matTooltip="Save"
            (click)="onSave()">
      <mat-icon>save</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Generate code"
            (click)="onFormat()">
      <mat-icon svgIcon="code"></mat-icon>
    </button>

    <fig-language-picker></fig-language-picker>
  </div>

  <div class="expand"></div>

  <div class="widgets">
    @for (category of categories; track category.title) {
      <div>
        @for (builder of category.builders; track builder.type) {
          <mat-icon [class.warning]="!(isSupported(builder.type) | async)"
                    [class.fallback]="useLegacyFallback(builder.type) | async"
                    [svgIcon]="FIGWidgetType[builder.type]"
                    [matTooltip]="builder.title"
                    figDrag
                    [figDragData]="FIGWidgetType[builder.type]">
          </mat-icon>
        }
      </div>
      @if ($index + 1 < categories.length) {
        <mat-divider vertical></mat-divider>
      }
    }
  </div>
</div>

@if (document) {
  <div class="panels">
    <mat-tab-group [style.width]="tabsWidth" animationDuration="0ms">
      <mat-tab label="Tree">
        <fig-tree [document]="document"
                  (action)="onWidgetAction($event)"></fig-tree>
      </mat-tab>

      <mat-tab label="Styles">
        <fig-config [document]="document"
                    (update)="onStylesUpdated()"></fig-config>
      </mat-tab>
    </mat-tab-group>

    <mat-divider class="slider"
                 vertical
                 matTooltip="Double-click to restore panel's width."
                 matTooltipPosition="right"
                 [matTooltipDisabled]="isSliding"
                 (dblclick)="onResetSliding()"
                 (mousedown)="onStartSliding($event)"></mat-divider>

    <fig-canvas [style.width]="canvasWidth"
                [document]="document"
                [isResizing]="isSliding"></fig-canvas>

    <fig-properties class="mat-app-background"
                    [widget]="selectedWidget"
                    (update)="updateWidget($event)"></fig-properties>
  </div>
}
