<form>
  <fig-string-field [field]="getField('label')"
                    (update)="updateWidget()" />

  <fig-enum-field [field]="getField('plotType')" />

  <fig-string-field [field]="getField('overlayText')" />

  <fig-size-field [field]="getField('size')" />

  <fig-integer-field [field]="getField('valueOffset')"
                     min="0"/>

  <div class="row">
    <fig-number-field [field]="getField('scaleMin')"
                      step="0.01"/>

    <fig-number-field [field]="getField('scaleMax')"
                      step="0.01"/>
  </div>

  <fig-integer-field [field]="getField('stride')"
                     min="1"/>
</form>
